<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <bean id="log-filter" class="com.alibaba.druid.filter.logging.Log4jFilter">
        <property name="statementExecutableSqlLogEnable" value="true" />
        <property name="statementExecuteAfterLogEnabled" value="false" />
    </bean>

    <!--1.提供方应用信息，用于计算依赖关系 -->
    <!--<dubbo:application name="bulb-order-provider"/>-->
    <!--2.注册中心配置-->
    <!--<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />-->
    <!--3.指定通信规则（协议&端口）-->
    <!--<dubbo:protocol name="dubbo" port="20881"/>-->
    <!--4.暴露服务 ref：指向服务的真正实现-->
    <dubbo:service interface="com.maxzuo.bulb.api.IOrderItemService" ref="orderItemService" executes="200"/>
    <dubbo:service interface="com.maxzuo.bulb.api.IShopOrderInfoService" ref="shopOrderInfoService" executes="200"/>
</beans>