<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxzuo.bulb.dao.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.maxzuo.bulb.model.OrderItem">
        <id column="id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="user_id" property="userId" javaType="int" jdbcType="INTEGER" />
        <result column="order_no" property="orderNo" javaType="string" jdbcType="VARCHAR" />
        <result column="product_id" property="productId" javaType="int" jdbcType="INTEGER" />
        <result column="price" property="price" javaType="bigdecimal" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" javaType="date" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, order_no, product_id, price, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.maxzuo.bulb.model.ShopOrderInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_item
        (
          user_id, order_no, product_id, price, create_time, update_time
        )
        VALUES
        (
          #{userId},
          #{orderNo},
          #{productId},
          #{price},
          now(),
          now()
        )
    </insert>

    <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM order_item
        WHERE id = #{id}
    </select>

    <update id="updateByPrimarySeletive" parameterType="com.maxzuo.bulb.model.ShopOrderInfo">
        UPDATE order_item
        <set>
          <if test="userId != null">
              user_id = #{userId},
          </if>
          <if test="orderNo != null">
              order_no = #{orderNo},
          </if>
          <if test="productId != null">
              product_id = #{productId},
          </if>
          <if test="price != null">
              price = #{price},
          </if>
          update_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM order_item
        WHERE id = #{id}
    </delete>
</mapper>