<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxzuo.bulb.dao.ShopOrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.maxzuo.bulb.model.ShopOrderInfo">
        <id column="id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="username" property="username" javaType="string" jdbcType="VARCHAR" />
        <result column="count" property="count" javaType="int" jdbcType="INTEGER" />
        <result column="order_no" property="orderNo" javaType="string" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" javaType="date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id, username, `count`, order_no, create_time
    </sql>

    <insert id="insert" parameterType="com.maxzuo.bulb.model.ShopOrderInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shop_order_info
        (
          username, `count`, order_no, create_time
        )
        VALUES
        (
          #{username},
          #{count},
          #{orderNo},
          now()
        )
    </insert>

    <select id="selectShopOrderInfoByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_order_info
        WHERE id = #{id}
    </select>

    <update id="updateByPrimarySeletive" parameterType="com.maxzuo.bulb.model.ShopOrderInfo">
        UPDATE shop_order_info
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="count != null">
                `count` = #{count},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM shop_order_info
        WHERE id = #{id}
    </delete>
</mapper>